/* Breakpoints */
$min-resolution:        414px;
$between-min-mobile:    508px;
$mobile-break:          768px;
$between-mobile-tablet: 1000px;
$tablet-break:          1200px;

/* Colors */
$white:                 #FFFFFF;
$violet:                #6F6EFF;
$green:                 #24CB8D;
$orange:                #FF4738;

$primary-text:          #FFFFFF;
$secondary-text:        #FFFFFF80;

$violet-button:         linear-gradient(90deg, #6B69F9 0%, #6F6EFF 100%);
$tablet-button:         #081B1F;

$left-bar-color:        #323444;
$background-color:      #30313F;
$item-background:       #3A3B47;
$info-block-background: #3b3C49;

$point-hover:           #373949;
$switcher-border:       #FFFFFF33;
$gray-border:           #D8D8D81A;

$violet-box-shadow:     #6F6EFF80 0px 0px 12px;
$orange-box-shadow:     #FF473880 0px 0px 12px;
$gray-box-shadow:       #0000003D 0px 3px 8px;
